/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/

/* * {
    border: 1px solid red;
} */


body {
    margin: 0;
    height: 100%;
}

.header {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.logo {
    width: 150px;
    height: auto;
    margin: 5px 0px 5px 0px;
}

.nav-menu li {
    display: inline;   
}

.nav-menu li a {    
    text-decoration: none;
    margin-right: 20px;
    color: rgb(66, 66, 66);   
}


.hero-image-landing {
    background-image: url("../images/landing.jpg");
    width: 100%;
    height: 100vh;
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;    
}

.hero-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    width: 100%;
    color: white;
}

.center-section{
    text-align: center;    
    margin: 20px 0px 50px 0px;
}

.center-section h2{
    text-align: center;   
    border-bottom: #00B172 solid;
    margin: 0px;
    display: inline;
}

.main-flex {    
    display: flex;
    flex-direction: row;
    text-align: center;
    margin: 5px;
    padding: 5px;
}

main div h3 {
    color: #00B172;
}

h3 p {
    text-align: center;
}

div img {
    width: 25%;
    height: auto;
}

.background-color-green {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #00B172;    
    color: white;
    margin: 0px 10px 0px 10px;
    padding: 15px;
}

/* .spotify-icon-white {
    background-image: url("../images/spotify-icon-white.png");
    width: 5px;
    height: 2vh;
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;    
} */

div h2 {
    border-bottom: white solid;
    margin: 0px;
    padding-bottom: 5px;
    display: inline;
}

/* .spotify-icon-white {
    width: 100px;    
} */

.spotify-app-kanye-west {    
    width: 60%;
    height: auto;
}